* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #2161EC;
    height: 100vh;
    padding: 20px;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 50px;
}

.sidebar .logo img {
    width: 180px; /* Set the logo width to make it smaller */
    height: auto;  /* Ensures the logo maintains its aspect ratio */
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 18px;
}

.sidebar ul li a.active {
    background-color: #577dcc;
    border-radius: 5px;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header img {
    height: 150px;
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    font-size: 24px;
    margin-left: 10px;
    vertical-align: middle;
}

.welcome-box {
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 700px;  /* Make the box wider */
    height: 350px; /* Adjust the height */
    margin: auto;  /* Center the box horizontally */
    background-color: #fff;
}

.welcome-box .left-side {
    background-color: #2161EC;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.welcome-box .left-side img {
    width: 100px;
}

.welcome-box .right-side {
    background-color: #fff;
    padding: 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
}

.welcome-box .right-side h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.welcome-box .right-side h1 {
    font-size: 36px;
}
